body {
    background-color: #171C22;
}

.card {
    width: 30%;
    height: 400px;
    border: 1px solid red;
    margin: 10px;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 125px;
}


/* addNew */
.addNew {
    width: 150px;
    height: 8vh;
    background-color: red;
    border: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 12px;
}

.addNew:hover {
    box-shadow: 0px 0px 6px  rgb(96, 209, 238);
}