body {
    background-color: #171C22;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    height: 450px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px rgb(255, 0, 0);
}

.card:hover {
    box-shadow: 0px 0px 16px rgb(255, 0, 0);
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 125px;
}


/* addNew */
.addNew {
    width: 150px;
    height: 8vh;
    background-color: red;
    border: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 12px;
}

.addNew:hover {
    box-shadow: 0px 0px 6px rgb(96, 209, 238);
}

/* dialogAdd */
.dialogAdd {
    width: 30%;
    height: 70vh;
    border-radius: 12px;
    background-color: rgba(137, 43, 226, 0.589);
    border: none;
}



.fullnameAdd,
.phoneAdd {
    width: 350px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 10px;
    padding: 5px;
}

.btnAdd {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

/* fullname */
.fullname {
    font-size: 24px;
    color: rgb(182, 33, 33);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* phone */
.phone {
    font-size: 18px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}